@model LaughSeenShpi.Models.RoomMembers



<div class="col-sm-12">

    <div class="col-sm-6" style="float:left; height:100vh;">


    </div>

    <div class="col-sm-6" style=" height:100vh;margin:0; float:left;">

        <div class="row h-100">

            <div class="container">
                <h3 class=" text-center">@ViewBag.Room.Name</h3>
                <div class="messaging">
                    <div class="inbox_msg">
                        <div class="mesgs col-sm-12">
                            <div class="msg_history" id="messageHistoryDiv">

                           
                              
                                @*<div class="outgoing_msg">
                                   
                                    <div class="sent_msg">
                                        <p style="margin-bottom:0">Test1</p>
                                        <span class="time_date" style="padding-top:0">Test 1</span>
                                    </div>
                                </div>

                                   
                
                                        <div class="incoming_msg">
                                            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                            <div class="received_msg">
                                                <div class="received_withd_msg" style="word-wrap:hyphenate">
                                                    <p style="margin-bottom:0">Test 1</p>
                                                    <span class="time_date" style="padding-top:0"> Test 1 </span>
                                                </div>
                                            </div>
                                        </div>*@

                                        
                                 
                                



                            </div>
                            <div class="type_msg">
                                <div class="input_msg_write">
                                    <input type="text" class="write_msg" id="MessageContent" placeholder="Type a message" />
                                    <input type="hidden" class="write_msg" id="MessageRoomMemberId" value="@Model.MemberID" placeholder="Type a message" />
                                    <input type="hidden" class="write_msg" id="RoomId" value="@ViewBag.Room.ID" placeholder="Type a message" />
                                    <button type="button" asp-action="Index" id="SendMessageButton" class="msg_send_btn"></button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>


</div>



